@{
    ViewData["Title"] = "Підтвердження бронювання";
}

<div class="alert alert-success mt-4" role="alert">
    <h4 class="alert-heading">✅ Ваше бронювання успішне!</h4>
    <p>Дякуємо за бронювання. Гарного перегляду!</p>
    <hr />
    <a asp-controller="Movie" asp-action="Index" class="btn btn-primary">⬅️ Повернутися до списку фільмів</a>
</div>
